<main id="nottop" class="mb-5 pb-5">
  <div class="container-fluid jumbotron">

    <div id="map"></div>
    <script>
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.661777, lng: 139.704051},
        zoom: 8
    });
    }
    </script>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAVkq4vuKmh9WWD7PM0Y19-4dGyzoGwjBE&callback=initMap" async defer></script>

    <div>
      <div class="h3 text-center border-bottom mt-2 pt-2">料理の絞り込み</div>
      <%= render partial: "search", locals: { search: @search } %>
    </div>

  </div>
  <div class="container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">私の料理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">フォローユーザーの料理</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <%= render partial: "tags", locals: { tags: @tags } %>
        <div class="row"><%= render partial: "foods", locals: { food_records: @food_records, loginuser_flag: "true" } %></div>
      </div>
      <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <div class="row"><%= render partial: "foods", locals: { food_records: @food_records_followings, loginuser_flag: "false" } %></div>
      </div>
    </div>
  </div>
</main>
