<h1>FoodRecords#index</h1>
<p>Find me in app/views/food_records/index.html.erb</p>


<% @food_records.each do |food_record| %>
  <%= image_tag food_record.image.url %>
  <%= link_to "表示", food_record_path(food_record) %>
  <%= link_to "編集", edit_food_record_path(food_record) %>
<% end %>
