<main id="nottop" class="mb-5 pb-5">
  <div class="container-fluid jumbotron">

    <div>
      <div class="h3 text-center border-bottom">料理の絞り込み</div>
      <%= render partial: "search", locals: { search: @search } %>
    </div>

  </div>
  <div class="container-fluid">

    <%= render partial: "tags", locals: { tags: @tags } %>

    <p><%= render partial: "foods", locals: { food_records: @food_records } %></p>

    <h2>フォロー中ユーザーの 料理一覧</h2>
    <p><%= render partial: "foods", locals: { food_records: @food_records_followings } %></p>
  </div>
</main>
