<main id="nottop" class="mb-5 pb-5">
  <div class="container-fluid jumbotron">

    <div>
      <div class="h3 text-center border-bottom mt-2 pt-2">料理の絞り込み</div>
      <%= render partial: "search", locals: { search: @search } %>
    </div>

  </div>
  <div class="container-fluid">
    <%= render partial: "tags", locals: { tags: @tags } %>
    <div class="row"><%= render partial: "foods", locals: { food_records: @food_records, loginuser_flag: "true" } %></div>
  </div>
</main>
