<div id="comments">
  <%= render partial: 'fs_comments/index' %>
</div>

<%= form_for :fs_comment, url: food_share_fs_comments_path(@food_share), remote: true do |f| %>
  <%= f.text_area :content, id: "comments_content" %>
  <div>
    <%= f.submit "コメント" %>
  </div>
<% end %>
