<main id="nottop" class="text-center mt-4 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted mb-3">フォロワー</h2>
　　　　<%= render partial: "index_user", locals: { users: @followers } %>
  </div>
</main>
