<main id="nottop" class="text-center mt-4 pt-4 mt-3 mb-5 pb-5">
  <div class="container-fluid">
    <h2 class="border-bottom text-muted mb-3">いいねしたユーザー一覧</h2>
    <p><%= render partial: "index_user", locals: { users: @users } %></p>
  </div>
</main>
