<div id='map' style="height:200px"></div>
<div id='d_latitude'><%= current_user.latitude %></div>
<div id='d_longitude'><%= current_user.longitude %></div>
<%= javascript_pack_tag "display_googlemap_api" %>
