<div class="container mb-5 pb-5">
  <%= render partial: 'info' %>
  <div class="col-sm-8 col-xs-12">
    <div class = "row">
      <% unless @food_records.present? %>
        <div class ="text-center mt-5 bg-info text-white">
          <div class="h2 col-12">投稿がありません</div>
          <div class="h2 col-12">いますぐ料理を投稿してみましょう</div>
        </div>
      <% else %>
        <div class="col-12 border-bottom pb-2 text-center px-0" id="bg-all">
          <%= render partial: 'recommend_food' %>
        </div>
        <%= render partial: 'foods' %>
      <% end %>
    </div>
  </div>
</div>
