<div id="rec_foods" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="h4 border p-3" id="bg-text">記録した料理 <br/> <strong><%= @food_records.count %></strong>品</div>
      <%= image_tag @food_records.first.image.url, id:"img_background", alt:"First slide" %>
    </div>
    <div class="carousel-item">
      <% if @food_recommend.present? %>
        <div class="h4" id="bg-text">今日のおすすめ料理</div>
        <%= image_tag @food_recommend.image.url, id:"img_background", alt:"slide" %>
      <% else %>
        <div class="h4 border p-3" id="bg-text">昨日の料理<br/>未登録</div>
        <%= image_tag @food_records.first.image.url, id:"img_background", alt:"First slide" %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#rec_foods" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#rec_foods" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
