<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<% if user_signed_in? %>
  <div>
    <a>username: </a>
    <%= current_user.name %>
  <div>
    <%= link_to "料理を登録する", new_food_record_path %>
    <%= link_to "料理一覧", food_records_path %>
  </div>
<% end %>
