a.heart {
  color: #e91e63;
  text-decoration: none;
}

img#image_img_prev {
  width: 250px;
}

img#user_img_prev {
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;
}

img#user_img {
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;
}

img#index_user_img {
  width:  60px;       /* ※縦横を同値に */
  height: 60px;       /* ※縦横を同値に */
  border-radius: 50%;
}

#checkfood {
  color: #e91e63;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../images/loading.gif") center center no-repeat;
}

#map{
  height: 400px;
}

#d_latitude{
  display: none;
}

#d_longitude{
  display:none;
}

#flag_address{
  color: #e91e63;
}

footer #footer-text{
  font-size: 5px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105,105,105,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

img#comment_user_img {
  width:  30px;       /* ※縦横を同値に */
  height: 30px;       /* ※縦横を同値に */
  border-radius: 50%;
}

.bootstrap-tagsinput .badge {
  margin: 2px 2px;
  padding:5px 8px;
}
