<% if current_user.id != @food_share.user_id %>
  <div class="bg-info">
    <%= "あなたの自宅から徒歩 #{@output_distance[:duration]}" %><br/>
    <%= "距離は#{@output_distance[:distance]}です。" %>
  </div>
<% end %>
