<% if current_user.id == @food_share.user_id %>
  <% case @flag_time %>
  <% when "before" %>
    <h3>お裾分け受付期間内</h3>
  <% when "active" %>
    <% if @food_share.any_uncomplete? %>
      <h3>お裾分け可能期間です。時間厳守で、お裾分けをしましょう。</h3>
    <% else %>
      <h3>お裾分け済み。お疲れ様でした。</h3>
    <% end %>
  <% when "after" %>
    <% if @food_share.any_uncomplete? %>
      <h3>お裾分け完了時間を超過しています。お裾分けが完了通知が押されていません。</h3>
    <% else %>
      <h3>お裾分け済み。お疲れ様でした。</h3>
    <% end %>
  <% end %>
<% end %>
