<% if @food_share.user_id != current_user.id %>
  <% if @food_share.takes?(current_user) %>
    <% case @flag_time %>
    <% when "before" %>
      <div class="bg-info">募集中</div>
    <% when "active" %>
      <% if @food_share.complete?(current_user) %>
        <div class="bg-secondary">お裾分け完了</div>
      <% else %>
        <div class="h5">受け渡し完了後に押してください</div>
        <%= link_to "お裾分け完了ボタン",  food_share_complete_url(food_share_id: @food_share.id, user_id: current_user.id), method: :post,data: {confirm: "本当にお裾分けをもらいましたか？"}, class: "bg-white btn btn-outline-primary" %>
      <% end %>
    <% when "after" %>
      <% if @food_share.complete?(current_user) %>
        <div class="bg-secondary">お裾分け完了</div>
      <% else %>
        <div class="bg-danger">お裾分け完了時間を超過しています</div>
        <div class="h5">受け渡し完了後に押してください</div>
        <%= link_to "お裾分け完了ボタン",  food_share_complete_url(food_share_id: @food_share.id, user_id: current_user.id), method: :post,data: {confirm: "本当にお裾分けをもらいましたか？"}, class: "bg-white btn btn-outline-primary" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
