<% if current_user.id == @food_share.user_id %>
  <% case @flag_time %>
  <% when "before" %>
    <div class="bg-info">募集中</div>
  <% when "active" %>
    <% if @food_share.any_uncomplete? %>
      <div class="bg-danger">お裾分け可能期間です。時間厳守で、お裾分けをしましょう。</div>
    <% else %>
      <div class="bg-secondary">お裾分け完了</div>
    <% end %>
  <% when "after" %>
    <% if @food_share.any_uncomplete? %>
      <div class="bg-danger">お裾分け完了時間を超過しています。全員のお裾分けが完了通知が押されていません。</div>
    <% else %>
      <div class="bg-secondary">お裾分け完了</div>
    <% end %>
  <% end %>
<% end %>
