<h1>FoodShares#index</h1>
<p>Find me in app/views/food_shares/index.html.erb</p>

<h2>ログインユーザーのお裾分け料理</h2>
<%= render partial: "shared_food", locals: { food_shares: @food_shares } %>

<h2>友達のお裾分け料理</h2>
<%= render partial: "shared_food", locals: { food_shares: @food_shares_friends } %>
