<footer class="fixed-bottom footer py-3 bg-white border-top">
    <div class="footer_container">
        <div class="row">
            <div class="col text-center">
              <%= link_to(root_path) do %>
                <i class="fas fa-home fa-lg" style="color:dimgray;"></i><br/>
                  <div class="small", id="footer-text">ホーム</div>
                <% end %>
            </div>
            <div class="col text-center">
                <i class="fas fa-search fa-lg" style="color:dimgray;"></i><br/>
                <div class="small", id="footer-text">検索</div>
            </div>
            <div class="col-2 text-center">
              <%= link_to(new_food_record_path) do %>
                <i class="fas fa-plus-circle fa-2x" style="color:dimgray;"></i>
              <% end %>
            </div>
            <div class="col text-center">
                <i class="fas fa-hands fa-lg" style="color:dimgray;"></i><br/>
                <div class="small", id="footer-text">お裾分け</div>
            </div>
            <div class="col text-center">
                <i class="fas fa-user-friends fa-lg" style="color:dimgray;"></i><br/>
                <div class="small", id="footer-text">友達</div>
            </div>
        </div>
    </div>
</footer>
